#header {
    width: 100%;
    height: 40%;
    position: relative;
}

#about-title {
    text-align: left;
}

#about-body-text {
    position: absolute;
    font-size: medium;
    padding-top: 10px;
}

#about-body-image {
    position: absolute;
    height: 500px;
}
