.body-section {
    position: relative;
    font-size: medium;
    height: 60%;
    width: 100%;
}

.body-left {
    display: table;
    position: absolute;
    height: 90%;
    width: 40%;
    top: 5%;
}

.body-right {
    display: table;
    position: absolute;
    left: 42%;
    width: 58%;
    height: 90%;
    top:5%;
    text-align: center;
}

.body-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 4vh;
}