.console-container {
  margin: auto;
}

.console-body {
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
}

.console-body p {
  margin: 0 auto;
}

.body-section {
  display: flex;
  position: relative;
}

.body-left {
  min-width: max(20em, 40%);
  // min-height: 80%;
  padding-right: 2vw;
}

.body-right {
  min-height: 80%;
  flex-grow: 1;
}

/* The video containers are from the following source
https://stackoverflow.com/questions/35814653/automatic-height-when-embedding-a-youtube-video */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.body-spacer {
  height: 1em;
  color: transparent;
}