#home-start-background {
    height: 100%;
    width: 100%;
    background-image: url('images/umberto-jXd2FSvcRr8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 0;
    margin: 0;
}

#home-title-background {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    position: absolute;
    width: 50%;
    height: 40%;
}

#home-name {
    color: white;
    font-weight: bold;
    position: absolute;
    text-align: center;
    font-size: 4vw;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Simp;
}

#home-title {
    color: white;
    /* font-weight: bold; */
    position: absolute;
    text-align: center;
    font-size: 2vw;
    font-family: Simp;  
}


#background-credit-badge {
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family:-apple-system, BlinkMacSystemFont,"San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
    position: absolute;
    bottom: 0;
    right:0;
}

#background-credit-badge-icon {
    display:inline-block;
    padding:2px 3px;
}

#background-credit-badge-svg {
    height:12px;
    width:auto;
    position:relative;
    vertical-align:middle;
    top:-2px;
    fill:white;
}

#background-credit-badge-title {
    display:inline-block;
    padding:2px 3px;
}