@font-face {
    font-family: Simp; 
    src: local('Simplifica Regular'), local('Simplifica');
    src: url(/fonts/simplifica.ttf) format('truetype'); 
    font-weight: normal;
}

body {
    background-color: black;
    margin:0;
    border:0;
}

/*Centered based on this source https://www.w3schools.com/howto/howto_css_blurred_background.asp*/
.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Blurred Background based on this source https://www.w3schools.com/howto/howto_css_blurred_background.asp */
.blur {
    height: 100%;
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}