.console-header {
  text-align: left;
  font-style: normal;
  font-size: 2em;
  margin-bottom: 1em;
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid;
  margin: 0;
  white-space: nowrap;
  border-color: transparent;
}

.animated-component {
  width: 0;
}